<h1>Welcome to Rock, Paper, Scissors: The Browser Game!</h1>

Which do you wish to choose?

<ul>
  <li><a href="">Rock</a>?</li>
  <li><a href="">Paper</a>?</li>
  <li><a href="">Scissors</a>?</li>
</ul>
