<h1>Welcome to Rock, Paper, Scissors: The Browser Game!</h1>

<p>Which do you wish to choose?</p>

<ul>
  <li><a href="javascript:void(0)" onclick="location.href='/game/rock/<%=@random_selection%>'">Rock</a>?</li>
  <li><a href="javascript:void(0)" onclick="location.href='/game/paper/<%=@random_selection%>'">Paper</a>?</li>
  <li><a href="javascript:void(0)" onclick="location.href='/game/scissors/<%=@random_selection%>'">Scissors</a>?</li>
</ul>
