<h1>Welcome to Rock, Paper, Scissors: The Browser Game!</h1>

<img src="/rps.png" id="title">
<div class="page">
  <p>Play against the computer! Do you wish to engage in combat?</p>

  <div class="choices">
  <ul>
    <li><a href="javascript:void(0)" onclick="location.href='/game/rock/<%=@random_selection%>'">Rock</a>?</li>
    <li><a href="javascript:void(0)" onclick="location.href='/game/paper/<%=@random_selection%>'">Paper</a>?</li>
    <li><a href="javascript:void(0)" onclick="location.href='/game/scissors/<%=@random_selection%>'">Scissors</a>?</li>
  </ul>
</div>

<p>Remember! Rock beats scissors, scissors beats paper, and paper beats rock!</p>
</div>
