<h1>Welcome to Rock, Paper, Scissors: The Browser Game!</h1>

<img src="/rps.png" id="title">


  <div class="choices">
    <p id="result"><%=@result%></p>

    <p>Play <a href="/">again?</a></p>
</div>

<p>Remember! Rock beats scissors, scissors beats paper, and paper beats rock!</p>
